footer {
  background: #c7c8cc;
  color: black;
  padding: 1rem 0;
  height: 40vh;
  width: 100%;
  align-content: center;
  font-family: sans-serif;
}

#main-footer p {
  width: 80%;
  font-weight: 100;
  letter-spacing: -0.02rem;
  text-align: start;
  color: #333;
  margin: 0 auto;
}
#main-footer div {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 1;
  height: 80%;
  width: 60%;
  margin: auto;
}

#main-footer div img {
  object-fit: contain;
}

#main-footer div nav .nav-list {
  list-style: none;
  text-transform: uppercase;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

#main-footer div nav .nav-list li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  transition: all 0.3s;
}
#main-footer a:hover {
  font-weight: bolder;
}
#main-footer div .contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 100%;
}
#main-footer div .contact-list li {
  display: contents;
}
#main-footer div .contact-list li figure {
  display: flex;
  align-items: center;
}
#main-footer div .contact-list li figure img {
  height: 50px;
}
#main-footer div .contact-list li figure figcaption {
  width: 100%;
}
#main-footer div .contact-list li figure figcaption p {
  text-align: left;
  font-size: 1.2rem;
  word-break: break-all;
}
#main-footer .redes {
  width: 100%;
  height: 80%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#main-footer .redes a {
  color: black;
  font-size: 4rem;
  height: fit-content;
  transition: all 0.3s;
}
#main-footer .redes a:hover {
  font-size: 5rem;
}

@media ((min-width: 768px ) and ( max-width: 1024px)) {
  #footer {
    width: 100vw;
  }
  #main-footer .footer-rights {
    width: 90%;
    font-weight: 100;
  }
  #main-footer div {
    width: 90%;
  }
  #main-footer div img {
    height: 50%;
  }
  #main-footer div nav {
    padding: 0 1rem;
  }
  #main-footer div nav .nav-list li a {
    font-size: 1.1rem;
  }
  #main-footer div .contact-list li figure figcaption {
    padding-left: 0.5rem;
  }
  #main-footer div .contact-list li figure figcaption p {
    margin: 0;
    word-break: break-all;
  }
  #main-footer div .redes {
    align-items: flex-start;
  }
  #main-footer div .redes a {
    font-size: 3rem;
  }
}
@media ((max-width: 768px )) {
  #main-footer {
    width: 100vw;
    height: auto;
  }
  #main-footer .footer-rights {
    width: 80%;
    margin: 0 auto;
  }
  #main-footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
  }
  #main-footer div .contact-list {
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;
  }
  #main-footer div .contact-list li figure {
    padding: 0;
    width: 100%;
  }
  #main-footer div .contact-list li figure img {
    width: 20%;
  }
  #main-footer div .contact-list li figure figcaption p {
    word-break: break-all;
  }

  #main-footer div img {
    height: auto;
    width: 30%;
    object-fit: contain;
    margin: 2.5% auto;
  }
  #main-footer div .redes {
    padding: 2em;
  }
}
