#galeria .cards-container {
  width: 100%;
}
#galeria .cards-container h2 {
  font-size: 2.5rem;
  padding: 2rem;
  text-transform: uppercase;
  font-weight: 100;
  font-family: monospace;
}
#galeria .cards-container ul {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  width: 80%;
}
#galeria .cards-container ul li {
  align-content: center;
  padding: 1rem;
  background-color: #bbb;
  border-radius: 1rem;
  list-style: none;
  width: 33%;
}
#galeria .cards-container ul li img {
  box-shadow: 0 0 15px 0 #0008;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
  height: auto;
  height: 95%;
  width: 95%;
  margin: auto;
}

#galeria .cards-container .galeria-button {
  padding: 0.8% 1%;
  background: #222e82;
  margin: 3% auto;
  transition: all 0.3s;

  border: none;
}
#galeria .cards-container .galeria-button a {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
#galeria .cards-container .galeria-button:hover {
  font-weight: bold;
  scale: 1.1;
}
@media ((min-width: 768px ) and ( max-width: 1024px)) {
  #galeria {
    width: 100vw;
    height: auto;
  }
  #galeria .cards-container {
    height: auto;
  }
  #galeria .cards-container h2 {
    font-size: 4em;
  }
  #galeria .cards-container ul {
    flex-direction: column;
    width: 70%;
    height: auto;
  }
  #galeria .cards-container ul li {
    height: 40em;
    width: 40em;
    margin: 5% auto;
  }

  #galeria .cards-container .galeria-button {
    padding: 2em;
    margin: 5% auto;
  }
}
@media (max-width: 768px) {
  #galeria {
    width: 100vw;
    height: auto;
  }
  #galeria .cards-container {
    width: 100%;
    height: auto;
  }
  #galeria .cards-container h2 {
    font-size: 4em;
    padding: 20% 0;
    padding-bottom: 10%;
  }
  #galeria .cards-container ul {
    width: 80vw;
    flex-direction: column;
    height: auto;
  }
  #galeria .cards-container ul li {
    width: 100%;
    height: 40vh;
    margin: 5% auto;
  }

  #galeria .cards-container .galeria-button {
    padding: 2em;
    margin: 5% auto;
  }
}
