#galeria {
  margin-bottom: 5vh;
}
#galeria div {
  width: 100%;
}
#galeria div h2 {
  font-size: 2.5rem;
  padding: 2rem;
  text-transform: uppercase;
  font-weight: 100;
  font-family: monospace;
}
#galeria div ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 60vh;
  gap: 1rem;
}
#galeria div ul li {
  display: contents;
  list-style: none;
}
#galeria div ul li figure {
  position: relative;
  width: 100%;
  align-content: center;
}
#galeria div ul li figure img {
  box-shadow: 0 0 5px 0 #000;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

#galeria div ul li figure figcaption {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(#000a, #012c);
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  margin: auto;
  color: white;
  font-size: 1.8rem;
  transition: all 0.3 ease;
}
#galeria div ul li figure:hover figcaption {
  display: flex;
}
#galeria div ul li figure figcaption p {
  padding: 1rem 2rem;
  height: fit-content;
  align-self: center;
  margin: 0 auto;
}

#galeria div .galeria-button {
  padding: 0.8% 1%;
  background: #234;
  margin: 3% auto;
  transition: all 0.3s;

  border: none;
}
#galeria div .galeria-button a {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
#galeria div .galeria-button:hover {
  font-weight: bold;
  scale: 1.1;
}
@media ((min-width: 768px ) and ( max-width: 1024px)) {
  #galeria {
    width: 100vw;
    height: auto;
  }
  #galeria div {
    height: auto;
  }
  #galeria div h2 {
    font-size: 4em;
  }
  #galeria div ul {
    flex-direction: column;
    width: 70vw;
    height: auto;
  }
  #galeria div ul li figure {
    height: 60vh;
    margin: 2.5% auto;
  }

  #galeria div .galeria-button {
    padding: 2em;
    margin: 5% auto;
  }
}
@media (max-width: 768px) {
  #galeria {
    width: 100vw;
    height: auto;
  }
  #galeria div {
    width: 100%;
    height: auto;
  }
  #galeria div h2 {
    font-size: 4em;
    padding: 20% 0;
    padding-bottom: 10%;
  }
  #galeria div ul {
    width: 80vw;
    flex-direction: column;
    height: auto;
  }
  #galeria div ul li figure {
    width: 95%;
    height: 50vh;
    margin: 5% auto;
  }

  #galeria div .galeria-button {
    padding: 2em;
    margin: 5% auto;
  }
}
