/*header*/
#main-header {
  position: fixed;
  height: 15vh;
  top: 0;
  width: 100vw;
  background: #234;
  color: #fff;
  transition: all 0.3s ease;
  align-content: center;
  z-index: 1000;
  box-shadow: 0 0 15px #0006;
}

#main-header .header-contact a {
  text-decoration: none;
  color: white;
}
#main-header .header-content {
  display: flex;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
#main-header .header-content .logo-link {
  display: flex;
  align-items: center;
  height: 90%;
}
#main-header .header-content .logo-link img {
  height: 90%;
  cursor: pointer;
  transition: all 0.3s ease;
}

#main-header .header-content .hamburger-menu {
  display: none;
  transition: all 0.3 ease;
}
#main-header .header-content .hamburger-menu:hover {
  cursor: pointer;
  scale: 1.2;
}

#main-header .header-content .header-nav {
  height: 70%;
  width: 50%;
  align-content: center;
}
#main-header .header-content .header-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 80%;
}
#main-header .header-content .header-nav ul li {
  transition: all 0.3s ease;
  align-content: center;
}
#main-header .header-content .header-nav ul li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

#main-header .header-content .logo-link img:hover {
  scale: 1.1;
}
#main-header .header-content .header-nav li:hover {
  scale: 1.2;
}
#main-header .header-content .header-nav li:hover a {
  text-decoration: underline;
}
#main-header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background: #123;
  height: 0.8;
  z-index: 1000;
}
@media ((min-width: 768px ) and ( max-width: 1024px)) {
  #main-header {
    height: 15vh;
  }

  #main-header .header-content {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  #main-header .header-content .header-nav {
    display: none;
    background: #012;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 30%;
    height: 85vh;
  }
  #main-header .header-content .header-nav ul {
    width: 70%;
    gap: 1.5rem;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    margin-top: 2rem;
  }
  #main-header .header-content .hamburger-menu {
    font-size: 3rem;
    display: block;
    order: 2;
  }

  #main-header .header-content #main-header .scrolled {
    height: 3rem;
  }
  #main-header .header-content .header-nav.active {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  #main-header {
    height: 15vh;
  }
  #main-header .header-content {
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  #main-header .header-content .header-nav {
    display: none;
    flex-direction: column;
    background: #012;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 50%;
    height: 85vh;
  }
  #main-header .header-content .header-nav ul {
    width: 70%;
    gap: 1rem;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    margin-top: 1rem;
  }

  #main-header .header-content .header-nav a {
    display: block;
  }
  #main-header .header-content .header-logo {
    order: 1;
  }
  #main-header .header-content .hamburger-menu {
    font-size: 3em;
    display: block;
    order: 2;
  }
  #main-header .header-content .header-nav.active {
    display: flex;
  }
}

/*header*/
