#hero {
  height: 85vh;
  margin-top: 15vh;
  background: linear-gradient(#c0d7f766, #000),
    url("../images/galeria/MecanizadoCNC1.jpg") fixed center/cover;
}
#hero .hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#hero .hero-content .hero-logo {
  width: 50%;
  height: auto;
  margin: auto;
}
#hero .hero-content .btn-action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-decoration: none;
  text-align: center;
  height: 30%;
  align-items: center;
}
#hero .hero-content .btn-action:hover {
  background: linear-gradient(transparent, #0005);
}

#hero .hero-content .btn-action .texto {
  font-family: sans-serif;
  height: 70%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#hero .hero-content .btn-action .texto .title {
  font-weight: 100;
  font-size: 1.9em;
}
#hero .hero-content .btn-action .texto .subtitle {
  font-weight: 100;
  font-family: monospace;
  color: #aaa;
  font-size: 1.6em;
}
@media ((min-width: 768px ) and ( max-width: 1024px)) {
  #hero {
    width: 100vw;
    min-height: 85vh;
  }
  #hero .hero-content .hero-logo {
    width: 50%;
    height: auto;
  }
  #hero .hero-content .btn-action {
    height: 50%;
  }
  #hero .hero-content .btn-action .texto {
    margin: auto;
    width: 70%;
  }
}
/*hero*/
@media (max-width: 768px) {
  #hero {
    width: 100vw;
    min-height: 85vh;
  }
  #hero .hero-content .hero-logo {
    width: 70%;
    height: auto;
  }
  #hero .hero-content .btn-action {
    height: 60%;
  }
  #hero .hero-content .btn-action .texto {
    width: 90%;
  }
}

/* #202f88;*/
