/*hero*/
.hero {
  height: 100vh;
  font-size: 24px;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#c7c8cc7f 45%, #000d 75%);
}
.background {
  position: absolute;
  background: url("../images/hero2.jpg") fixed left/cover;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: blur(3px);
  z-index: -1000;
}
.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero-logo {
  width: 50%;
  margin-top: 12rem;
  object-fit: contain;
}

.btn {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8em;
  background: transparent;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
  flex-grow: 1;
}
.btn::before {
  content: "";
  position: absolute;
  inset: 0; /* Ocupa todo el espacio del botón */
  background: linear-gradient(transparent, #000a);
  opacity: 0; /* Inicialmente transparente */
  transition: opacity 0.3s ease; /* Suaviza la transición */
  z-index: -1; /* Se coloca detrás del contenido */
}
.btn:hover {
  cursor: pointer;
}
.btn:hover::before {
  opacity: 1;
}
.btn:hover i {
  font-size: 2.5em;
}
.texto {
  max-width: 75%;
  height: 80%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.btn i {
  font-size: 2em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.hero-content .title {
  font-weight: 600;
  font-size: 1.5em;
  font-family: monospace;
}
.hero-content .subtitle {
  font-weight: 100;
  font-family: monospace;
  font-size: 1em;
}
/*hero*/
@media (max-width: 768px) {
  .hero {
    font-size: 18px;
  }
  .background {
    background: url("../images/hero2.jpg") contain fixed;
  }
  .texto {
    max-width: 75%;
    height: 60%;
  }

  .hero-logo {
    width: 95%;
    margin-top: 7em;
  }
}
/* #202f88;*/
