/*hero*/
#hero {
  height: 100vh;
  font-size: 24px;
}

#hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#c7c8cc7f 45%, #000d 75%);
}
#hero .hero-bg .hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#hero .hero-bg .hero-content .hero-logo {
  width: 45%;
  height: auto;
  margin-top: 10rem;
  object-fit: contain;
}

#hero .hero-bg .hero-content .btn-action {
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background: transparent;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
  flex-grow: 1;
}

#hero .hero-bg .hero-content .btn-action::before {
  content: "";
  position: absolute;
  inset: 0; /* Ocupa todo el espacio del botón */
  background: linear-gradient(transparent, #000a);
  opacity: 0; /* Inicialmente transparente */
  transition: opacity 0.3s ease; /* Suaviza la transición */
  z-index: -1; /* Se coloca detrás del contenido */
}
#hero .hero-bg .hero-content .btn-action:hover {
  cursor: pointer;
}
#hero .hero-bg .hero-content .btn-action:hover::before {
  opacity: 1;
}

#hero .hero-bg .hero-content .btn-action:hover i {
  font-size: 2.5em;
}

#hero .hero-bg .hero-content .btn-action .texto {
  margin: auto;
  max-width: 70%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero .hero-bg .hero-content .btn-action .texto .title {
  padding: 0.5em;
  font-weight: 600;
  font-family: monospace;
  font-size: 1.5em;
}
#hero .hero-bg .hero-content .btn-action .texto .subtitle {
  padding: 0.5em;
  font-weight: 100;
  font-family: monospace;
  color: #777;
  font-size: 1em;
}
#hero .hero-bg .hero-content .btn-action i {
  font-size: 2em;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}
#hero .hero-bg .background {
  position: absolute;
  background: url("../images/hero2.jpg") fixed left/cover;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: blur(3px);
  z-index: -1000;
}
@media ((min-width: 768px ) and ( max-width: 1024px)) {
  #hero {
    font-size: 18px;
    width: 100vw;
  }
  #hero .hero-bg .background {
    background: url("../images/hero2.jpg") fixed center/cover;
    height: 100%;
    width: 100vw;
  }
  #hero .hero-bg .hero-content .hero-logo {
    width: 50%;
    margin-top: 5rem;
  }
  #hero .hero-bg .hero-content .btn-action .texto {
    margin: auto;
    max-width: 80%;
  }
  #hero .hero-bg .hero-content .btn-action .texto .title {
    padding: 1em;
  }

  #hero .hero-bg .hero-content .btn-action i {
    padding-bottom: 0.5em;
  }
}
/*hero*/
@media (max-width: 768px) {
  #hero {
    font-size: 18px;
    width: 100vw;
  }
  #hero .hero-bg .hero-content .hero-logo {
    width: 95%;
  }
  #hero .hero-bg .background {
    background: url("../images/hero2.jpg") fixed center / cover no-repeat;
  }
  #hero .hero-bg .hero-content .btn-action {
    height: 20%;
  }
  #hero .hero-bg .hero-content .btn-action i {
    padding-bottom: 1.5em;
  }
  #hero .hero-bg .hero-content .btn-action .texto {
    font-size: 14px;
    max-width: 90%;
  }
}
/* #202f88;*/
