/* Estilos base para todos los dispositivos */
#industrias {
  width: 100%;
  height: 100%;
  display: flex;
}

#industrias .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#industrias .industrias-title {
  text-transform: uppercase;
  padding: 5%;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

#industrias .container .list-content {
  margin: 0 auto;
  margin-bottom: 5%;
  list-style: none;
  padding: 0;
  width: 70%;
  display: flex;
  align-items: start;
}

#industrias .list-content li {
  display: contents;
}

#industrias .list-content li figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 20%;
  padding: 5% 1%;
}

#industrias .list-content li img {
  width: 60%;
  object-fit: contain;
  object-position: center;
  margin-bottom: 10%;
}

#industrias .list-content li figcaption {
  text-align: center;
  width: 100%;
}

#industrias .list-content li figcaption h2 {
  font-size: 1.2;
  text-transform: uppercase;
  color: #202f99;
  font-weight: 500;
  margin: 0;
}

/* Estilos para tablet (768px-1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  #industrias .industrias-title {
    padding: 10%;
  }

  #industrias .container {
    box-sizing: content-box;
    padding: 10%;
  }
  #industrias .container .list-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    padding: 2.5%;
    height: fit-content;
  }
  #industrias .list-content li figure {
    padding: 2.5%;
    width: 100%;
  }
  #industrias .list-content li:nth-child(5) figure {
    grid-column: 1 / span 2;
    width: 50%;
    margin: 0 auto;
  }

  #industrias .list-content li img {
    margin-bottom: 8%;
  }

  #industrias .list-content li figcaption h2 {
    font-size: 1.2rem;
  }
}

/* Estilos para móviles (hasta 767px) */
@media (max-width: 767px) {
  #industrias {
    padding: 10% 0;
    height: auto;
  }
  #industrias .container .industrias-title {
    font-size: 1.8rem;
  }
  #industrias .container .list-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
    width: 60%;
  }
  #industrias .list-content li figure {
    width: 80%;
  }

  #industrias .list-content li img {
    height: 100%;
    margin-bottom: 5%;
  }

  #industrias .list-content li figcaption h2 {
    font-size: 1.4rem;
  }
}
