#servicios{
  height: auto;
}
#servicios div {
  width: 100%;
  margin: auto;
}

#servicios div h2 {
  text-align: center;
  padding: 2rem;
  font-size: 2.3rem;
  background-color: black;
  color: white;
}
#servicios div h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 3rem;
  font-size: 2rem;
  color: #999;
  font-weight: 100;
}
#servicios div ul {
  list-style: none;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  color: #345;
}
#servicios div ul li {
  width: 23%;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #0005;
}
#servicios div ul li figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#servicios div ul li figure img {
  width: 35%;
  margin: 1.5rem auto;
}
#servicios div ul li figure figcaption h4 {
  text-align: center;
  font-size: 1.2em;
  padding: 0 3rem;
  padding-bottom: 1rem
}
#servicios div ul li figure figcaption p {
  padding: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  hyphens: auto;
}

@media ((min-width: 768px ) and ( max-width: 1024px)) {
  #servicios {
    width: 100vw;
    height: auto;
  }

  #servicios div h2 {
    width: 100%;
    padding: 2.5%;
  }
  #servicios div h3 {
    margin: 1rem 0;
  }

  #servicios div ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 75%;
    gap: 1.5rem 2rem;
    padding: 1rem;
    margin-bottom: 4em;
  }
  #servicios div ul li {
    width: 100%;
  }
  #servicios div ul li figure {
    display: flex;
    width: 100%;
  }

  #servicios div ul li figure img {
    margin:2rem auto;
    width: 35%;
  }
#servicios div ul li figure figcaption h4 {
  padding: 0 2rem;
  padding-bottom: 0.7rem
}
#servicios div ul li figure figcaption p {
  padding: 0 3rem;
  padding-bottom: 2rem

}
}

@media (max-width: 768px) {
  #servicios {
    width: 100vw;
    height: auto;
  }
  #servicios div {
    width: 100%;
    padding-bottom: 4rem;
  }
  #servicios div h2 {
    padding: 2rem;
    font-size: 1.8rem;
  }
  #servicios div h3 {
    padding: 3rem 0;
  }

  #servicios div ul {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap : 3rem;
  }
  #servicios div ul li {
    width: 100%;
  }
  #servicios div ul li figure {
    margin: 1rem 0;
  }

  #servicios div ul li figure img {
    margin: 1rem auto;
    width: 40%;
    padding: 0;
  }

  #servicios div ul li figure figcaption {
    margin: 0;
  }
  #servicios div ul li figure figcaption h4 {
    padding-bottom: 1rem;
  }
  
}
