#servicios {
  height: 100vh;
}
#servicios .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#servicios .container .services-title {
  background: #030303;
  color: white;
  box-shadow: 0 2px 16px #000b;
  font-size: 1.9em;
  height: 20%;
  width: 100%;
  margin: 0;
  display: flex; /* Activa flexbox */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Opcional: centra horizontalmente */
  text-align: center;
}
#servicios .container .title {
  font-size: 2.5em;
  font-weight: 100;
  padding: 2% 0;
  padding-bottom: 4%;
  text-transform: uppercase;
  color: #999;
}

/* lista de servicios */

#servicios .container .card-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  list-style: none;
  max-width: 75%;
  margin: 0 auto;
}

#servicios .container .card-container .card {
  box-sizing: border-box;
  display: flex;
  width: 25%;
  border-left: 2px solid #aaa6;
  flex-direction: column;
}

#servicios .container .card-container .card .card-image {
  width: 35%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

#servicios .container .card-container .card .card-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2.5%;
  font-size: 16px;
}
#servicios .container .card-container .card .card-info strong {
  font-weight: 100;
  color: #000;
}
#servicios .container .card-container .card .card-title,
#servicios .container .card-container .card .card-info {
  padding: 1%;
}
#servicios .container .card-container .card .card-title {
  letter-spacing: -0.05rem;
  margin-top: 1rem;
  font-size: 1.5em;
  font-weight: 600;
  box-sizing: border-box;
  color: #000;
}
#servicios .container .card-container .card .card-info {
  margin-top: 1.3rem;
  font-size: 1.1em;
}
#servicios .container .card-container .card .no-border {
  border: none;
}

@media ((min-width: 768px ) and ( max-width: 1024px)) {
  #servicios {
    width: 100vw;
    height: auto;
  }

  #servicios .container .services-title {
    font-size: 2.5em;
    width: 100%;
    padding: 5%;
  }
  #servicios .container .title {
    font-size: 3em;
    padding: 7% 0;
  }

  #servicios .container .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    max-width: 80%;
  }

  #servicios .container .card-container .card {
    border: none;
    display: flex;
    width: 100%;
  }

  #servicios .container .card-container .card .card-image {
    width: 25%;
    margin: 5% auto;
  }
  #servicios .container .card-container .card .card-info {
    margin-top: 0.5rem;
    padding-bottom: 3em;
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  #servicios {
    width: 100vw;
    height: auto;
  }
  #servicios .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #servicios .container .services-title {
    padding: 10% 0;
  }
  #servicios .container .title {
    padding: 7% 0;
  }

  #servicios .container .card-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }

  #servicios .container .card-container .card {
    border: none;
    width: 100%;
    padding: 3em 0;
  }

  #servicios .container .card-container .card .card-image {
    width: 30%;
  }

  #servicios .container .card-container .card .card-content {
    width: 70%;
    margin-top: 1.5%;
    font-size: 18px;
  }
}
